@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400&display=swap');

body {
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding-top: 0px;
}

#titel {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: auto;
    padding-top: 3%;
    clear: both;
    font-size: 30pt;
    font-family: 'Mohave', sans-serif;
}

#titel > a {
    text-decoration: none;
    color: black;
}

#container {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: auto;
}

#raum_id {
    text-decoration: underline;
    padding-top: 20px;
    font-family: 'Mohave', sans-serif;
    padding-left: 350px;
    font-size: 18pt;
}




.dropbtn {
  background-color: #1e90ff;
  color: white;
  padding-right: 70%;
  padding-left: 70%;
  padding-bottom: 25%;
  padding-top: 25%;
  font-size: 16px;
  border: none;
  font-family: 'Mohave', sans-serif;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Mohave', sans-serif;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #00b2ee;}



