@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400&display=swap');

body {
    background-size: cover;
    background-attachment: fixed;
}

#titel {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: auto;
    padding-top: 3%;
    clear: both;
    font-size: 30pt;
    font-family: 'Mohave', sans-serif;
}

#titel > a {
    text-decoration: none;
    color: black;
}

#container {
    background-color: white;
    width: 100%;
    margin: auto;
    text-align: center;
}





.qrbtn {
    font-family: 'Mohave', sans-serif;
    font-size: 20pt;
}

.btn_a {
    padding-left: auto;
    text-align: center;
    font-family: 'Mohave', sans-serif;
    font-size: 20pt;
}

#qrcode {
    margin: auto;
    padding-top: 3%;
    margin-bottom: 10%;
}

.in_aa {
    margin: auto;
    margin-bottom: 4%;
}

