@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400&display=swap');

body {
    background-size: cover;
    background-attachment: fixed;
}

#titel {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: auto;
    padding-top: 3%;
    clear: both;
    font-size: 30pt;
    font-family: 'Mohave', sans-serif;
}

#titel > a {
    text-decoration: none;
    color: black;
}

#container {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: auto;
}

#tisch_aus {
    height: 100%;
    width: 100%;
    text-align: center;
    
    padding-top: 2.5%;
    font-size: 15pt;
    font-family: 'Mohave', sans-serif;
}

#tisch_id {
    text-decoration: underline;
    padding-top: 20px;
    font-family: 'Mohave', sans-serif;
    padding-left: 20%;
    font-size: 18pt;
    padding-right: 60%;
    margin: auto;
}

.in_aa {
    margin: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 30%;
}

#tablediv {
    width: 100%;
    float: left;

    font-family: 'Mohave', sans-serif;
    margin-bottom: 6%;
}

#tabledivv {
    width: 100%;
    float: left;

    font-family: 'Mohave', sans-serif;
}




#tables {
    text-align: center;
    table-layout: fixed;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    align-self: center;
    width: 95%;
}
#tables2 {
    text-align: center;
    table-layout: fixed;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    align-self: center;
    width: 95%;
}

#backgroundGreen {
    background-color: #90ee90;
}

#backgroundRed {
    background-color: #FA502C;
}

#output1 {
    padding-left: 20%;
    margin-bottom: 10%;
    padding-right: 20%;
}

#log_title {
    font-family: 'Mohave', sans-serif;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 20%;
}

#placeholder {
    padding-top: 10%;
}

#del_btn {
    text-align: left;
    font-family: 'Mohave', sans-serif;
    font-size: 15pt;
    margin-top: 10%;
    z-index: -1;

    background-color: red;
    border-color: red;
    color: white;    

    border-radius: 10px;
}

#del_btnT {
    text-align: right;
    
    font-family: 'Mohave', sans-serif;
    font-size: 13pt;

    background-color: red;
    border-color: red;
    color: white;    

    height: 100%;
    width: 100%;

    border-radius: 6px;

    position: relative;
}

.btn_table {
    padding-bottom: 1.5%;
    padding-right: 36%;
    padding-left: 36%;
    padding-top: 1.5%;

    text-decoration: none;
}

.btn_d {
    transition: all 0.5s;
    cursor: pointer;

    padding-bottom: 0.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-top: 0.5%;
}

.btn_d:hover span:after {
    opacity: 1;
    right: 0;
}

.btn_d:hover span {
    padding-right: 25px;
}

.btn_d span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn_d span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


